@import "tailwindcss";

:root {
  --text-color: #C86600;
  --bg-color: rgb(253 250 217);
  overflow-x: hidden;
}

body {
  min-width: 1024px;
  overflow-x: auto;
}

a:hover {
  transform: scale(103%);
}

.text-primary {
  @apply text-(--text-color);
}

.bg-primary {
  @apply bg-(--bg-color)
}

button {
  @apply bg-(--text-color) text-white border-red-200 placeholder:text-gray-400 sm:text-sm transition duration-200 cursor-pointer hover:opacity-80;
}